{% load static %}
{% block content %}
    {% if user.profile.image %}
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    {% else %}
        <img class="rounded-circle account-img" src="{% static 'images/default.jpg' %}">
    {% endif %}    
        <h2> {{ user.username }}</h2>
        <p> {{ user.email }}</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <h3>Profile Info</h3>
            {{ u_form.as_p }}
            {{ p_form.as_p }}
            
        </fieldset>
            <button class="btn btn-outline-info" type="submit">Update</button>
            <button  type="submit"><a href="{% url 'recipe-home' %}" style="text-decoration:none;">Home</a></button>
    </form>
{% endblock content %}