{% extends "_base.html" %}
{% block title %}Delete Recipe{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>Delete Recipe</h2>
        <p>Are you sure you want to delete "{{ post.recipe }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'recipe-detail' post.pk %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
