{% extends "_base.html" %}
{% block title %}{{ post.recipe }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>{{ post.recipe }}</h2>
        <p>{{ post.desc }}</p>
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.recipe }}" class="img-fluid">
        {% endif %}
    </div>
    <div class="col-md-4">
        <a href="{% url 'recipe-update' post.pk %}" class="btn btn-secondary btn-block">Edit</a>
        <a href="{% url 'recipe-delete' post.pk %}" class="btn btn-danger btn-block">Delete</a>
    </div>
</div>
{% endblock %}
